/* 
    Document   : profileStyle
    Created on : 24 Ιουν 2011, 12:33:37 πμ
    Author     : Lelouch
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#panelHeader {
            width: 100%;
            height: 60px;
}

h2 {
            display: inline-block;
            font-size: 36px;
            margin: 0;
            margin-top: 10px;
    
}

body {
            margin: 0;
}

root { 
            display: block;
}

hr {
            border: none;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #eee;
            margin: 0;
            width: 50%;
}

#profilePanel img {
            vertical-align: middle;
}

#profilePanel {
    
            background-color: rgba(240, 240, 240, 0.85);
            border: 2px solid #EEF4F7;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -o-border-radius: 8px;
            width: 900px;
            min-height: 400px;
            text-align: left;
            margin-top: 10px;
            
}

input[type=radio] {
            margin-left: 40px;
}

.profileLabel {
            display: inline-block;
            width: 160px;
            text-align: left;
            font-size: 100%;
            margin-left: 20px;
            
}

.profileInput {
            display: inline-block;
            width: 200px;
}

.profileInput:focus {
            border: 2px solid #EF4F7A;
}

#wallLabel {
            margin-right: 204px;
}

.interestsInput {
            margin: 0;
            width: 608px;
}

#gender {
            position: relative;
            left: -7px;
            margin-right: 127px;
}

ul {
            list-style: none;
            display: block;
            margin: 0;
}

ul li {
            display: inline-block;
            vertical-align: top;
            margin: 0;
}

.interestInput {
            margin-left: 40px;
}

#welcomeMessage {
            position: relative;
            left: -5px;
}

.addInterestButton {
        
            margin-top: 10px;
            font-size: 14px;
            display: none;
            width: 120px;
            height: 26px;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -o-border-radius: 8px;
            background: url("../images/button_black.jpg") repeat-x scroll 0 0 transparent;
            border: 0 none;
            color: white;
            
}

.removeInterestButton {
    
            margin-top: 10px;
            margin-left: 10px;
            font-size: 14px;
            display: none;
            width: 120px;
            height: 26px;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -o-border-radius: 8px;
            background: url("../images/button_black.jpg") repeat-x scroll 0 0 transparent;
            border: 0 none;
            color: white;
            
}

.addInterestButton:hover {
            cursor: pointer;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -o-border-radius: 16px;
}

.removeInterestButton:hover {
            cursor: pointer;
            border-radius: 16px;
            -moz-border-radius: 16px;
            -o-border-radius: 16px;
}

#interestsLabel {
            margin-right: 209px;
}

#profileButton {
                    margin-top: 40px;
                    font-size: 90%;
                    display: inline-block;
                    width: 120px;
                    height: 26px;
                    border-radius: 8px;
                    -moz-border-radius: 8px;
                    -o-border-radius: 8px;
}

#profileButton:hover {
                    /************ BORDER RADIUS **************/
                    border-radius: 16px;
                    -moz-border-radius: 16px;
                    -o-border-radius: 16px;
                
                    
}

#profileButton:disabled {
                    border: 1px ButtonFace;
                    cursor: no-drop;
            
}

.profileButtonEnabled {
                    background: url("../images/button_black.jpg") repeat-x scroll 0 0 transparent;
                    border: 0 none;
                    color: white;
            
}

.profileButtonEnabled:hover {
                    
                    cursor: pointer;
    
}