/* 
    Document   : registerStyle
    Created on : 24 Ιουν 2011, 12:33:37 πμ
    Author     : Lelouch
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

h2 {
                    display: inline-block;
                    font-size: 36px;
                    margin: 0;
                    margin-top: 40px;
    
}

body {
                    margin: 0;
}

root { 
                    display: block;
}

hr {
                    border: none;
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #eee;
                    margin: 0;
                    width: 50%;
                    margin-bottom: 20px;
}

#registerPanel {
                    
                    border-radius: 20px;
                    width: 1000px;
                    height: 400px;
                    text-align: left;
                    overflow: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 4px;
                    border: 2px solid #EEF4F7;
                    background-color: rgba(240, 240, 240, 0.85);
            
}

.registerLabel {
                    display: inline-block;
                    width: 200px;
                    text-align: left;
                    font-size: 100%;
                    margin-left: 300px;
            
}

.registerLabel:first-child {
                    margin-top: 30px;

}

.registerInput {
                    display: inline-block;
                    width: 200px;
}

.registerInput:focus {
                    border: 2px solid #EF4F7A;
}

#registerButton {
                    margin-top: 40px;
                    font-size: 90%;
                    display: inline-block;
                    width: 120px;
                    height: 26px;
                    border-radius: 8px;
                    -moz-border-radius: 8px;
                    -o-border-radius: 8px;
}

#registerButton:hover {
                    /************ BORDER RADIUS **************/
                    border-radius: 16px;
                    -moz-border-radius: 16px;
                    -o-border-radius: 16px;
                
                    
}

#registerButton:disabled {
                    border: 1px ButtonFace;
                    cursor: no-drop;
            
}

.registerButtonEnabled {
                    background: url("../images/button_black.jpg") repeat-x scroll 0 0 transparent;
                    border: 0 none;
                    color: white;
            
}

.registerButtonEnabled:hover {
                    
                    cursor: pointer;
    
}

img {
    vertical-align: middle;
}