/************************************************************************************ USER PANEL CSS - START **********************************************************************************/
        #userPanel {
                display: block;
                position: absolute;
                top: 0;
                right: 30px;
                width: 260px;
                height: 70px;
                border-right: solid 2px #fcfcfc;
                border-left: solid 2px #fcfcfc;
                border-radius: 10px;
                -moz-border-radius: 10px;
                -o-border-radius: 10px;

        }
        
        #userPanel li {
                display: block;
        }

        #userPanel .userPanel-staticInfo {
                width: 100%;
                height: 70px;	
                display: block;
        }
       
        #userPanel span.userInfo {
                display: inline-block;
                margin-left: 30px;
                margin-top: 25px;
                color: white;
                height: 26px;
                font-size: 14px;
        }
        
        #userPanel img {
                margin-left: 10px;
                width: 26px;
                height: 26px;
        }

	#userPanel div.content {
            
		display: none;
                background: url( ../images/blue-digital-waves-wallpapers_12718_2560x1600.jpg ) repeat;
	        height: 180px;
        	border-radius: 0 0 10px 10px;
                -moz-border-radius: 0 0 10px 10px;
                -o-border-radius: 0 0 10px 10px;
                color: black;
                font-size: 14px;

	}
        
        #userPanel div.content input {
                
                display: inline-block;
                width: 140px;
        }
        
        #userPanel input:focus {
                border: 2px solid #EF4F7A;
        }
       
	#userPanel div.content button#loginButton {
 
		background: url("../images/button_black.jpg") repeat-x scroll 0 0 transparent;
    		border: 0 none;
    		color: white;
    		font-size: 90%;
		margin-top: 20px;
                display: inline-block;
                width: 100px;
                height: 30px;
                border-radius: 8px;
                -moz-border-radius: 8px;
                -o-border-radius: 8px;
                
	}
        
        #userPanel div.content button#loginButton:hover {
 
                border-radius: 12px;
                -moz-border-radius: 12px;
                -o-border-radius: 12px;
                cursor: pointer;
                
	}
        
        #buttonSection {
                display: block;
                width: 100%;
                text-align: center;
        }
        
        #loginResult {
                display: block;
                text-align: center;
                width: 100%;
        }
        
        
        #userPanel div.content img {
                display: inline-block;
                margin-left: 10px;
                margin-top: 12px;
                width: 24px;
                height: 24px;
                
        }
        
        #userPanel div.content a {
                display: inline-block;
                margin-left: 10px;
                height: 24px;
                width: 200px;
                color: black;
                font-size: 14px;
        }
        
        #userPanel div.content .user_option {
                width: 260px;
                height: 40px;
                display: block;
        
        }
        
        .credentialsPrompt {
                margin-left: 10px;
        }
        
        .prompt {
                display: inline-block;
                width: 70px;
        }
        
        #usernamePrompt {
                margin-left: 10px;
        }
        
        #passwordPrompt {
                 margin-left: 10px;
        }
/************************************************************************************* USER PANEL CSS - END ***********************************************************************************/