<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AuthenticateUserServlet</servlet-name>
        <servlet-class>com.anantoni.freshdirect.store_servlets.AuthenticateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrowseCategoriesServlet</servlet-name>
        <servlet-class>com.anantoni.freshdirect.store_servlets.BrowseCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.anantoni.freshdirect.store_servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>com.anantoni.freshdirect.store_servlets.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSellingProductServlet</servlet-name>
        <servlet-class>com.anantoni.freshdirect.store_servlets.BestSellingProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NeverOrderedProductsServlet</servlet-name>
        <servlet-class>com.anantoni.freshdirect.store_servlets.NeverOrderedProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostExpensiveProductsPerGroupServlet</servlet-name>
        <servlet-class>com.anantoni.freshdirect.store_servlets.MostExpensiveProductsPerGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSumMinMaxServlet</servlet-name>
        <servlet-class>com.anantoni.freshdirect.store_servlets.OrderSumMinMaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GreaterThan10KServlet</servlet-name>
        <servlet-class>com.anantoni.freshdirect.store_servlets.GreaterThan10KServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsNotOrderedInMonthOfYearServlet</servlet-name>
        <servlet-class>com.anantoni.freshdirect.store_servlets.ProductsNotOrderedInMonthOfYearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticateUserServlet</servlet-name>
        <url-pattern>/AuthenticateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrowseCategoriesServlet</servlet-name>
        <url-pattern>/BrowseCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSellingProductServlet</servlet-name>
        <url-pattern>/BestSellingProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NeverOrderedProductsServlet</servlet-name>
        <url-pattern>/NeverOrderedProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostExpensiveProductsPerGroupServlet</servlet-name>
        <url-pattern>/MostExpensiveProductsPerGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSumMinMaxServlet</servlet-name>
        <url-pattern>/OrderSumMinMaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GreaterThan10KServlet</servlet-name>
        <url-pattern>/GreaterThan10KServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsNotOrderedInMonthOfYearServlet</servlet-name>
        <url-pattern>/ProductsNotOrderedInMonthOfYearServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
